#  Logistic Regression

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = df = pd.read_csv('https://github.com/mrpeerat/Machine_Learning_0-100/raw/master/04%20Logistic%20Regression/titanic_data.csv')

In [39]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Preprocessing

In [29]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:

from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan , strategy='most_frequent')

df[['Age']] = imp.fit_transform(df[['Age']])

In [32]:
df['Age'].isnull().sum()

0

In [ ]:
# Select Feature

In [53]:
df_clean = df.drop(columns=['Name','Sex','Age','SibSp','Ticket','Parch','Cabin','PassengerId','Embarked'])

In [55]:
df_clean.head()

   Survived  Pclass     Fare
0         0       3   7.2500
1         1       1  71.2833
2         1       3   7.9250
3         1       1  53.1000
4         0       3   8.0500

In [62]:
# train test
from sklearn.model_selection import train_test_split

X = df_clean.drop(columns=['Survived'])
y = df_clean['Survived']

X_train , X_test , y_train , y_test = train_test_split(X,y, test_size=0.3 , random_state=42)

In [66]:
# Create Model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train , y_train)

LogisticRegression()

In [70]:
predict_train = model.predict(X_train)
predict_test = model.predict(X_test)

In [71]:
# Report for train 
from sklearn.metrics import accuracy_score
accuracy_score(predict_train , y_train)

0.6725521669341894

In [73]:
# Report for test 
from sklearn.metrics import accuracy_score
accuracy_score(predict_test , y_test)

0.6940298507462687

In [79]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [84]:
model.predict_proba([[2,32.204208]])

/Users/tae/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[0.58518233, 0.41481767]])