In [69]:
from sklearn.impute import SimpleImputer
import pandas as pd

# Load the data
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df = df.sample(20, random_state=123)

In [70]:
df[df['vore'].isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

In [71]:
imp = SimpleImputer(strategy='most_frequent')

In [72]:
df[['vore2']] = imp.fit_transform(df[['vore']])

In [77]:
df[df.vore.isna()][['name','vore','vore2']]

          name vore  vore2
62  Rock hyrax  NaN  herbi
72  Musk shrew  NaN  herbi

In [89]:
# numeric

imp_numeric = SimpleImputer(strategy='mean')

df[df['sleep_rem'].isna()]
df[['sleep_rem2']] = imp.fit_transform(df[['sleep_rem']])

In [91]:
df[df.sleep_rem.isna()][['name','sleep_rem','sleep_rem2']]

                         name  sleep_rem  sleep_rem2
69     Arctic ground squirrel        NaN         0.4
75  Eastern american chipmunk        NaN         0.4
44                 Slow loris        NaN         0.4
9                    Roe deer        NaN         0.4
59            Common porpoise        NaN         0.4
81                 Arctic fox        NaN         0.4