In [51]:
import pandas as pd
import numpy as np
path = '/Users/tae/Desktop/Project/Code/heart.csv'
df = pd.read_csv(path)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [58]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split , RandomizedSearchCV
from sklearn.metrics import accuracy_score , classification_report

X = df.drop(columns=['target'])
y = df['target']
X_train,X_test,y_train,y_test = train_test_split(X,y , test_size=0.3)

In [65]:
model = KNeighborsClassifier()
model.fit(X_train , y_train)
model.score(X_train,y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test , y_pred)
print("Accuracy:",accuracy)

Accuracy: 0.7272727272727273

In [74]:
# Optimize
model.get_params()

parameter = {'algorithm': ['ball_tree','kd_tree','brute'],
             'n_neighbors': np.arange(1,20),
             'weights': ['uniform','distance']}

grid_search = RandomizedSearchCV(model , parameter)
grid_search.fit(X_train , y_train)
y_pred_train = grid_search.predict(X_train)
print('Accuracy train:', accuracy_score(y_train , y_pred_train))

Accuracy train: 1.0

In [76]:
y_pred_test = grid_search.predict(X_test)
print('Accuracy test:',accuracy_score(y_test , y_pred_test))

Accuracy test: 0.987012987012987