#  Logistic Regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = df = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/worldbank_gdp_gini_birth_death_suicide_rate.csv')

In [5]:
df.head()

,country,year,"GDP, PPP (current international $)",Gini index (World Bank estimate),"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)","Suicide mortality rate (per 100,000 population)"
0,Afghanistan,1960,NaN,NaN,51.279,32.219,NaN
1,Afghanistan,1961,NaN,NaN,51.373,31.649,NaN
2,Afghanistan,1962,NaN,NaN,51.457,31.093,NaN
3,Afghanistan,1963,NaN,NaN,51.530,30.551,NaN
4,Afghanistan,1964,NaN,NaN,51.589,30.022,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15576 entries, 0 to 15575
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   country                                          15576 non-null  object
 1   year                                             15576 non-null  int64
 2   GDP, PPP (current international $)               6726 non-null   float64
 3   Gini index (World Bank estimate)                 1649 non-null   float64
 4   Birth rate, crude (per 1,000 people)             14515 non-null  float64
 5   Death rate, crude (per 1,000 people)             14492 non-null  float64
 6   Suicide mortality rate (per 100,000 population)  1145 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 851.9+ KB